nav{
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
  z-index: 2;
  background-color: rgb(212, 128, 128);
  padding: 10px 10px;
}
nav p{
  cursor: pointer;
  
}
.active{
  text-decoration: underline;
}